$dark-text: #616983;

.right-container {
  display: flex;
  position: absolute;
  right: 0;
  width: 47vw;
  min-height: 100vh;

  background-image: url('../../img/bg-dark.svg');
  background-size: cover;

  @media (max-width: 999px) {
    width: 100vw;
    min-height: 60vh;
    position: relative;
    background: #10172f;
  }

  @media (max-width: 599px) {
    display: flex;
    align-items: center;
    min-height: 100vh;
    min-width: 280px;
  }
}

.inner {
  width: 285px;
  margin: auto;
  padding-left: 50px;

  @media (max-width: 999px) {
    padding-left: 0;
  }

  .forSmartphone {
    display: none;

    @media (max-width: 599px) {
      display: block;
      text-align: center;

      .logo {
        display: flex;
        justify-content: center;
      }

      .logo__text {
        opacity: 1;
      }
    }
  }

  &__title {
    margin-bottom: 0;
    font-size: 32px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;

    @media (max-width: 999px) {
      margin-top: 60px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 15px;
    color: $dark-text;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__email,
  &__password {
    margin-top: 5px;
    padding: 19px 8px;

    font-size: 17px;
    font-weight: 400;
    line-height: 24px;

    outline: none;
    border: 0;
    background: transparent;
    color: #ffffff;
  }

  .underline {
    width: 285px;
    height: 1px;
    background-color: $dark-text;
  }

  .correct {
    background-color: green;
  }

  .incorrect {
    background-color: red;
    animation: twitching 0.5s 4 alternate ;
  }

  &__password {
    margin-top: 20px;
  }

  &__email::placeholder,
  &__password::placeholder {
    color: $dark-text;
    font-weight: 700;
  }

  @keyframes twitching {
    0%, 100% {
    }
    25% {
      transform: translateX(3px);
    }
    50% {
      transform: translateX(-3px);
    }
  }

  .wrong-field {
    position: relative;
  }

  .toolTip {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    margin: 8px auto;
    padding: 5px;
    text-align: center;

    font-size: 0.7rem;
    line-height: 1;

    color: white;
    border: 1px solid red;
    border-radius: 3px;
  }

  &__reset {
    margin-top: 35px;
    text-align: center;

    font-size: 16px;
    font-weight: 400;

    color: $dark-text;

    @media (max-width: 999px) {
      margin-bottom: 40px;
    }

    @media (max-width: 599px) {
      margin-bottom: 10px;
    }
  }

  &__link {
    padding-left: 10px;
    color: #1871d5;
  }
}

.link {
  text-decoration: none;
}

.group-btn {
  display: none;

  @media (max-width: 599px) {
    display: flex;
    width: 285px;
  }
}
