$dark-text: #616983;

.right-container {
  position: absolute;
  right: 0;
  width: 47vw;
  min-height: 100vh;

  background-image: url('../../img/bg-dark.svg');
  background-size: cover;

  @media (max-width: 999px) {
    width: 100vw;
    min-height: 60vh;
    position: relative;
    background: #10172f;
  }

  @media (max-width: 599px) {
    display: flex;
    align-items: center;
    min-height: 100vh;
    min-width: 280px;
  }
}

.inner {
  width: 285px;
  margin: auto;
  padding-left: 50px;

  @media (max-width: 999px) {
    padding-left: 0;
  }

  .menu-burger {
    position: absolute;
    width: 30px;
    height: 30px;
    display: none;
    z-index: 2;
    cursor: pointer;

    @media (max-width: 599px) {
      display: block;
    }

    &__item {
      width: 30px;
      height: 3px;
      margin-bottom: 4px;
      background: $dark-text;
    }
  }

  &__title {
    margin-top: 190px;
    margin-bottom: 0;
    font-size: 32px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;

    @media (max-width: 999px) {
      margin-top: 60px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 15px;
    color: $dark-text;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__email,
  &__password {
    margin-top: 5px;
    padding: 19px 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    outline: none;
    border: 0;
    background: transparent;
    color: #ffffff;
  }

  .underline {
    width: 285px;
    height: 1px;
    background-color: $dark-text;
  }

  .correct {
    background-color: green;
  }

  .incorrect {
    background-color: red;
    animation: twitching 0.5s alternate infinite;
  }

  &__password {
    margin-top: 20px;
  }

  &__email::placeholder,
  &__password::placeholder {
    color: $dark-text;
    font-weight: 700;
  }

  @keyframes twitching {
    0%, 100% {
    }
    25% {
      transform: translateX(3px);
    }
    50% {
      transform: translateX(-3px);
    }
  }

  &__btn {
    margin-top: 33px;
    text-align: center;
    line-height: 48px;
    font-size: 13px;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    background: linear-gradient(90deg, #48a4d9, #126bd5);
    transition: background 1s;
  }

  &__btn:hover {
    background: linear-gradient(90deg, #126bd5, #48a4d9);
    cursor: pointer;
  }

  &__arrow {
    position: absolute;
    width: 15px;
    height: 11px;
    transform: translate(8px, 18px);
    transition: transform 0.3s;
  }

  &__btn:hover &__arrow {
    transform: translate(18px, 18px);
  }

  &__reset {
    margin-top: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: $dark-text;

    @media (max-width: 999px) {
      margin-bottom: 40px;
    }
  }

  &__link {
    padding-left: 5px;
    color: #3a91e2;
    cursor: pointer;
  }
}

.link {
  text-decoration: none;
}
