.main {
  display: flex;
  width: 70vw;
  height: 100vh;
  position: relative;
  opacity: 0.8;

  background: linear-gradient(150deg, #48a4d9, #6180cc, #5248b4);

  @media (max-width: 999px) {
    width: 100vw;
    height: 40vh;
  }

  @media (max-width: 599px) {
   display: none;
  }

  .container {
    width: 335px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }

  &__text {
    width: 440px;
    margin-top: 50px;
    text-align: center;

    font-weight: 300;
    font-size: 18px;
    line-height: 27px;

    color: white;

    @media (max-width: 599px) {
      width: 340px;
      font-size: 14px;
    }
  }
}
