.margin-top40 {
  margin-top: 40px;
}

.margin-top100 {
  margin-top: 100px;
}

.inner__arrow-back {
  width: 32px;
  height: 20px;
  cursor: pointer;

  @media (max-width: 599px) {
    margin-top: 0;
  }
}
